<!DOCTYPE html>
<html lang="en">

<head>
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <title>Monthly Test</title>

</head>


<body>
    {{{body}}}
</body>

</html>